name: JMeter Performance Test

on:
  push:
    branches: [ main ]

jobs:
  jmeter-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Install JMeter
        run: |
          wget https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-5.6.3.zip
          unzip apache-jmeter-5.6.3.zip

      - name: Run JMeter Test
        # Yaqeen kar len ke aapki JMX file ka naam MyTest.jmx hi hai
        run: ./apache-jmeter-5.6.3/bin/jmeter -n -t MyTest.jmx -l results.jtl

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: results.jtl

          - name: Send Mail
        if: always() # Taake test pass ho ya fail, email lazmi aye
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_APP_PASSWORD }}
          subject: "JMeter Test Report - ${{ github.repository }}"
          to: "manager-email@example.com" # Yahan apni ya manager ki email likhen
          from: GitHub Actions
          body: |
            JMeter Performance Test complete ho gaya hai.
            Status: ${{ job.status }}
            Aap results GitHub Actions se download kar sakte hain.